@import url("http://netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap-glyphicons.css");

body {
  background: #f442f1;  
  background-image: url("https://media.giphy.com/media/13U40NKpVXvYpG/giphy.gif");
  background-size: cover;
}

.navbar {
  background: transparent;
  margin-bottom: 20px;
}

.navbar img {
  height: 40px;
  width: 50px;
}

.search-bar {
  border-radius: 1px;
  background: #fff;
}

.search-bar .form-control {
  border-radius: 2px;
  width: 80%;
  color: rgb(255, 102, 204);
}
.search-bar .btn {
  border-radius: 2px;
  border-color: #d3d3d3;
  background: #f8f8f8;
  width: 20%;
  margin-left: -1px;
}

.search-bar .btn:hover {
  /*border-color: #c6c6c6;*/
  background-image: url("https://orig00.deviantart.net/5e08/f/2013/264/f/3/hello_kitty_png_by_snsdmiho22-d6n5vej.png");
  background-size: 20%;
 /* background-repeat: no-repeat;*/
  background-position: center;
  /*background: red;*/
  box-shadow: 0 1px 0 rgba(0,0,0,0.10);
}

.video-player {
  margin-left: 20px;
}

.video-player-details {
  background: rgb(255, 192, 203, 0.7);
  padding: 8px;
  border: 0;
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
  margin-top: 10px;
  font-family: fantasy;
}

.video-list {
  background: rgb(186, 48, 183, 0.3);
  padding: 8px;
  border: 0;
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
  margin-right: 20px;
}

.video-list-entry {
  font-size: 16px;
  padding: 8px;
}

.video-list-entry:hover {
  background: pink;
}

.video-list-entry-title {
  font-weight: bold;
  font-family: fantasy;
}

.video-list-entry-title:hover {
  color: #e62117;
  cursor: pointer;
}

.video-list-entry-detail {
  font-size: 12px;
  color: #999;
  font-family: fantasy;
}

.loading {
  padding-left: 20px;
}

.media-body {
  padding-left: 20px;
}

h5 {
  border: 2px solid red;
  text-align: center;
  padding: 10px;
}

@media (max-width: 767px) {
  .video-list {
    margin-left: 20px;
  }

  .video-player {
    margin-right: 20px;
  }
}
